In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\python310\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

C:\Users\huser\AppData\Local\Temp\ipykernel_10312\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
import pandas as pd

In [8]:
data = {'שם': ['אליז', 'בת שבע', 'גליה'],
        'כיתה': [5, 2, 1],
        'ממוצע ציונים': [98, 94, 92]}
sample = pd.DataFrame(data)
sample

       שם  כיתה  ממוצע ציונים
0    אליז     5            98
1  בת שבע     2            94
2    גליה     1            92

In [9]:
newStudent={'שם':'שרה','כיתה':3,'ממוצע ציונים':90}
sample.loc[len(sample)] = newStudent

In [10]:
sample

       שם  כיתה  ממוצע ציונים
0    אליז     5            98
1  בת שבע     2            94
2    גליה     1            92
3     שרה     3            90

In [11]:
sample['שם']

0      אליז
1    בת שבע
2      גליה
3       שרה
Name: שם, dtype: object

In [12]:
sample[sample['כיתה']==2]

       שם  כיתה  ממוצע ציונים
1  בת שבע     2            94

In [14]:
sample[sample['ממוצע ציונים']==sample.max(sample['ממוצע ציונים'])]

TypeError: unhashable type: 'Series'

In [15]:
max=sample.max(sample['ממוצע ציונים'])

TypeError: unhashable type: 'Series'

In [16]:
sample[sample.('ממוצע ציונים')==sample.max.('ממוצע ציונים')]

SyntaxError: invalid syntax (3382506938.py, line 1)

In [17]:
sample[sample.(ממוצע ציונים)==sample.max.(ממוצע ציונים)]

SyntaxError: invalid syntax (1693909091.py, line 1)

In [18]:
df=pd.read_csv('cities.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'cities.csv'

In [19]:
df=pd.read_csv("Z:\B\שאולזון תהילה\cities.csv")

In [20]:
df

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
...,...,...,...,...,...,...,...,...,...,...
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH

In [21]:
df.model=df.model.fillna(0)

AttributeError: 'DataFrame' object has no attribute 'model'

In [22]:
df=df.fillna(0)

In [23]:
df

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
...,...,...,...,...,...,...,...,...,...,...
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH