#### 1. Dataframe basics

#### 1.1. Import pandas and reffered the package as pd + Load "telecom_churn.csv" and assign in to the variable df <span style= color:#0033cc>(3 points)</span>

In [2]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.
Collecting pandas
  Using cached pandas-2.2.1-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.1-cp310-cp310-win_amd64.whl (11.6 MB)
Installing collected packages: pandas
Successfully installed pandas-2.2.1

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('telecom_churn.csv')
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

#### 1.2 Return the column labels/names <span style= color:#0033cc>(2 points)</span>

In [8]:
list(df.columns.values)

['State',
 'Account length',
 'Area code',
 'International plan',
 'Voice mail plan',
 'Number vmail messages',
 'Total day minutes',
 'Total day calls',
 'Total day charge',
 'Total eve minutes',
 'Total eve calls',
 'Total eve charge',
 'Total night minutes',
 'Total night calls',
 'Total night charge',
 'Total intl minutes',
 'Total intl calls',
 'Total intl charge',
 'Customer service calls',
 'Churn']

#### 1.3 Print the df shape <span style= color:#0033cc>(3 points)</span>

#### 2. What is the total day calls given by state and area code?

#### 2.1 Group the df by state and area code (assign it to grouped variable). <span style= color:#0033cc>(5 points)</span>

In [9]:
df.shape

(3333, 20)

In [30]:
grouped_data = df.groupby(['State','Area code'])

grouped_data

AttributeError: 'list' object has no attribute 'values'

#### 2.2 Use agg with the desired function sum to get the final answer (assign it to telecom_agg variable).<span style= color:#0033cc>(5 points)</span>

In [36]:
data_agg=df.agg('sum')
data_agg

State                     KSOHNJOHOKALMAMOLAWVINRIIAMTIANYIDVTVATXFLCOAZ...
Account length                                                       336849
Area code                                                           1457129
International plan        NoNoNoYesYesYesNoYesNoYesNoNoNoNoNoNoNoNoNoNoN...
Voice mail plan           YesYesNoNoNoNoYesNoNoYesNoNoNoNoNoNoYesNoYesNo...
Number vmail messages                                                 26994
Total day minutes                                                  599190.4
Total day calls                                                      334752
Total day charge                                                  101864.17
Total eve minutes                                                  669867.5
Total eve calls                                                      333681
Total eve charge                                                   56939.44
Total night minutes                                                669506.5
Total night calls                                                    333659
Total night charge                                                 30128.07
Total intl minutes                                                  34120.9
Total intl calls                                                      14930
Total intl charge                                                   9214.35
Customer service calls                                                 5209
Churn                                                                   483
dtype: object

In [31]:
grouped_data = df.groupby(['State','Area code'])

grouped_data

AttributeError: 'SeriesGroupBy' object has no attribute 'KSOHNJOHOKALMAMOLAWVINRIIAMTIANYIDVTVATXFLCOAZSCVANEWYMTMOHIILNHLAAZOKGAAKMAAKNJGAMDARIDWIORMIDEIDWYIAINVAUTWYINCOCOWIOKIDCAMNSDNCWAWYMNUTTXNJMNNMNVHIMNDCNYMNMDWVORCOGATXVTINWVKYNJDCLAARMEAZAKMTAZMSIDIAMAVTKYINAZMINMCOUTMIMAALDEAZMENJNVMOIDNETXMDMSNVAZMSMSTXNENECANJTXARALNYFLAKNVDEMDMIVTVTMIWAUTLARIIANEOHRIOKLAOHVAMOFLSCVAIAMIOKDEGADCAZALCONHNMORLANEMNMIARKSWVAKNYNHVANMNYAZWYWACOTXKYMTOKMDTNTXMEDCMNDEMDMIWAMOINORMDRILAAZPAAZFLLAFLFLMDALWATNMSMEOKINMOIAVAKYMDOHOKNVIDMNSDILWYALNJNVINWVVASCRIINAZNMORNJMSMITXFLDCTXKSUTMNILNMSCNCWVRINHMOMAPAOKALWYPAWAHISDALVTMTMNAKMIDESDMIKSALOKCTNEWICTWIINDCARMEMNMDFLRIIAAZMOVTINRISDMNTXVAMAIDMAGARIIDSDMAWYVAORVAMEALGAIAAZFLMTALDEMTKYSCWAORAKGAMNILINSCVAWIVTAZFLAKARARAKMSMECANMNESCCODEOHMSOKCONCMDKSMANCNMCANYAZSDDCNDMOKSSDOKORINOHKSCTNHWIMSWVMAMDPAWITNTXORILDCGAIDUTKYOHWIILDERITXORNVNEMSORDEDEAZSDNVNMMNNJINDCMAMENHAZORKSNEMISCPAMTNMOHWYMIARFLARMOWITXTXNMGAIDALKSSDLAOHMAAZKYDCWAUTRIOHNVNDNVFLMDAZALNENVILWVMIARUTGAAZIDHINVMDGAGAUTMAINVTIAINALMERIMDFLCAALMEWVSDFLMIMINMAKOHMOKSMSVTNEVADEALIDMSOKNMWIWVSCKYMOILOKMINJIDDCNYALOROKLANETXUTORNYALRIMNNCMDRIWIVTCTOKAKNYGAUTNMNENJTXMTCOVTRIWYIDCTMEAZMDINNCDEMNWIFLWVSDFLORCOCTINPANMMESDARTXNHOKWIALPAOKMEWVHIMNNYAZOHMIMAWVMINMMORINCWYWYPAKYORNVDCUTWAFLVAKSKSDCMELADCTXNJDEVTGATXMTNDNJMOCOKSNCMTDENDVAILOKCOMTWVMEWIMONYCTARWYCACAMNAKVACOMTSDNEVTNDGAORMTWYGAWVCTILCODELAMAINNYTXKSWVNENDAKCOMESCMNCOKSMSNENJWIMTARWANHIAWVRIKSMTMOHICOCTIDDCTNWYMOVASDWVGAAZAKAKCTUTKYMIORTNWVNJMSMEWYWYINNMNJDCUTKYKSMIUTNEFLLAMTWAMIKYLANMALMOCOTXNYORWYUTLANVNCNCWYTNFLCAPAWVNJMTMNWIIDMAORMTALNDLANDMSWVWIKSMOPASDNJALMEAZVTNVWIHIDEAZVAGAAZMNMEFLWAMTALWVGAOHDENEFLAKWIWAKYOHUTNMMNWVMNALPADEMOILFLHIMECONHSCINFLGAILNCVTDCVTNVORALNDFLNENDMEILWAMAKSRIMOIAWYNVWIALHIMOCAMOCTMDOHNVMDNEOHMAOKMAWAHICOFLWIIDWYGAFLWYDEMEDCIACOMNVTAZLAMOMEMDVTDCWYVAVACTHIWIMDWVVTUTCONCNJARIAGAMOMOWYHIPATXVARIWIMSKYNCNVUTMEHIOHWVOKKYALMDNEDCTXOHDEIAVTORNVNCNJMNIDALAKVTPAAKCAMSARNVALGAARMANJMONYAZNJWVNMSCVTTNLAOHORDEKYGAVTORTXMONDMNNVNYFLKSNVNVSCMIMITNNYNVILMSNDNCMITNVTOKDENDORNYMOFLNDNYNDNYOHALSCGAWYWVHIWVLAARAKDCALUTKSMNVAUTINCTDEVTMORICARICTINFLKSNYTXRINVUTOKMNNCORNHAKORKSWVGANMOHNDRIHIWYNYKSLAPANVMNPAMONYMENHWYNYMEMNOHNCSDUTKYMTNJFLINDEALMESDVAAKIDRIKYNDHIWIWVNJKSALNJNCDEWYIDNYMOIDIATNOHILFLMAOKKYMINEVANYMTVTKSVAALPAALWVNVTNIDWYTXMAILLACOUTMINHIDWAMNNYMDGAHIALCTCOKSNJFLCAKSTXMNAKORMSVTUTKSNVDEINTXMAVTCAIANHGAWICOSCMIMDINMEDCTNFLWAHINETNMDNMVTORINMOFLDCVTOHMOLAILNJIAWANECTWVNDUTMSMNNHLAMEKSKSNVMTMTIDAKUTARLAKSORWICOKSILIAAZNEIDOHTXTNOKNDMTNCMNMNMAPAGANVTXMERIMNNHTNUTRINHAKNCAZMATNWYIAINNJFLMTNDMIMTALNVMIFLNYKSNCMNRIUTORSCILOHMAORCAWVVTIDORGAMEHIAZUTIACTWAVACOLATXSDVANYWAWITNCTWANHMTNEWAWIARWIDENHVATNVAIDTNAZMTOKIDNVKSWYMSWYTXWAHIILAKMDMASDPANCVTKYWALAWAMEWITXIAAZNDVTHIWYWVOKCTUTNYVAVTSDPANDCTSCMIVTOHVTILMOWINJGAVTCTAZSDCTINOHNYNEOKNCHIUTMDVTTXAZVAWINEKYNVMTMOMSNMNJNHNCMTSDVALANVAKOHNMMIMNWYWYWANMVARIALWVWVNJTNMIUTILMIWINDVTWANCMESDWVIDLAGAFLCONVINVAUTUTMOCTHIMDVAMTSCCOIDALCOUTDEOHRIFLOHMDILPAAZNHRIHINJWIMDORNVARMTCTUTGANVTNDENYMTIAVTLAMTNHWVIDAZSCWVOHMDMDMNNEMNNYHIMONVMANHUTFLWACTKYNMNDNVCAIDOKIAOHNJIADECAWYORMEARMEWVPAHIMTDCARMSOHMOTXMDCTSCMISDCOIDAZFLMNDEMIMSMACAMNVTCTWVWVNENCNEILMAAZSDMTVTUTHIDCWIUTWASDMTNJCTVANCAKMDILCTKSMANJARMSNDINMIARVTWVMEIACTNMORVTRIRINMALMTCTTNIDTXNHNDSCKSMERIWINCOHWYNJNDWIKYNYMOAZMNCOMDARTNDETNWIWVCTMNMOVANHOKCTTNMDWISDNDVAUTMASDALALWVSCFLKYUTNYMSNHVAVTWYNVWVWAKSVTOKGACOAKTNKYPACTCTMNWYPAORPAOKVTIDPANMFLTXVTMAORDEFLIDMDWVIDNVOHIDSCMONENCMEMIAZAZHINJMSMASCMNWVMSVAMSNMTXHIWAWICONVRIVANJNDMNHINDWIMNDCKSMTWVMEWYNYVTNCMONCNJOHTXWATNHIWYCTNMNJALMNNCOHNDCONDNYWIWYORCOLAALTXPAILDEMOAROHWIGAKYOHTNSDNYGATXWVMINDNESDNJAKCTCOMDNDNHMNKYNHCOKYKYINORSDDEORNEOHOHARKSTXWIORVAARCTOHWYILMODCMANHIAALORWVWANVSCNCNHWYFLPANCMOKSKYDEWICONMDEILWAMAOHTNMAMITXNHMDMSAZINNYWIWVNYOKNCKYTXCTNEHISCAKSDIDOKWASDOHVAWIINNMHIKYOHVTAZVTMOALNJWANYDCNEMAVTNMCONHILUTWVNJNMNDWANMDEGAHICTNJMEOKTNWYNYDERIPAHIMDVAINORAZWIVAMONVHIWAILILLAWITXMINCWANDNEMSKYRINYTXDENMRIMSNYNEWIKYSDVAKSNDCOKYWANVSCRIIDKYMESDSCTNMTWIAKAZMTDEVAMAINMDNVCOKSARWYPATXNYORCANYARMIOKTXNCIDILORSDNERIMDIDMESDNYDEOKSCINNVILSDOKKSIANJNJMTIAWANETXMSIAWIMTGAMTNDVTSDOHOHMTILNVUTNHLAVTNYCTKSMISDMEMDVANJTNDCDCORRIAKWIINMIIDNHMNAZMNMOALPAAKMSIAWYNENDCTNCCTNDWANVCOKSCOMOMANYAKWINHTNNYGAMNMIIDCTNCLANJTXCAMDWYTXCAUTWAMSOHKSRIINVTMTCTNMOHGAMNCTALWVNHWYVAVTOHMTMAVANMARNEWYIASCNCHIUTWYALVAWIFLKSNVNYVAKSNCMONDCAWVILNYNVALKSNDOKUTOHWYNMALDCIDARIDTXNMWAUTRINCRINYTXDEMSOHLAFLWAWVNYNEPAMSINVAMNDEORUTCTALTXCTMSARCAMIWVDEFLAKIDOHNHMASCOROHNCKYIDWAWVRIKSNVNEFLWYWACOWIKSRIMTCOCTFLVTOHNHRIFLMDWYFLTNNCINIAWVUTGAAKUTMSARAKAKMEWVCTGANVVTDCTNORMSNCCOARPAMNNMUTNEMSNVORVANJWVORKYMOTXMNFLPAWVINOKNEDEMIILUTILWANMMDVAMTCTALWVMONDARGAFLLAUTAZNYKYALININFLNMALMNNYMDKSWVIDLAMITNCAFLLAILALCTPATXVAMOMTNDFLWIKYMDINMANDVTCTVAMSAKWYNYNCILOHRIWYORNVNDORNDNJWVVAIDCTNMCTMISCSCNYMTWYNEINCOWYMDOKSDSCNYNYWVWAIDMNTXAZDECOWIWINJILDCIAGAAKCAMNCOKYSCMTKYWVIDMNMAMDSDPAKYIDNYNMCAIDWYNMHIIDNCTXGAALMEVAIDNYNCOHHIDCTNVTMDLAHIFLWYNEWYORINMDTNWVWAMSOHINCOTXAKWVMATNIDDEVAMTIDINMDMSWAOHRIARAZSCKYALNEMTMNNVCAUTILDCINNMMSVTVTUTKYVAOHAZNYVAMDMAILLAMODCPATNNJVATNNJWAARWIWARIMECOCORICTNCWYORFLKYSCWAMTPAMAVTMNILARMDMTVTCONCWATNARDCMNIAKSNDMTILDCKYMSTNIAAKMNWVORMSMEMNGADCGANYOKOKGANJMNMEMIMTNENDVAVTOHALDCNDTNDENYALOKMSMDNEARILINUTLAIDKYMINHWVORSDMDNDTNMOILUTMIARTXAKTNNHNMMNIARIALNCSDMTHIMTKYDCCOMIALKSNCSCCOMNWYFLNYOKMENEOHCTDCOKNJIAVAVANMFLRINJNEWVWYSCMSNDILORUTIAMEWYWISCDCCTORORNVMNOKKSRIDCILUTMNWIMIMIMAALSCWIVTCTORHIWVRIMIMEWVNEDCNHMDNHWVILOKNHMINDLAHINJWVNCPAMIWYNJNJNCNMMSTXOKIDALWYHIVAWVDECAPACOMDALALKSMIAKOHINSCKSOKWIINILTNDCNCRIMSVAKYNVWINHNEWINJMEWYINWIVTCAINSCINIAMDMNARMSMNWAMSIDNCVAMTMIHINCMNWVSDHIMSNYLAKSMAAKSDCONHWVAZMENHRIIDWINMWYILTXRIMIORVASDALMSMSHIWVWVWVINNMDENCNMSCNJAZRISDNHALWVIDMDINWYNHMNMANHMNIANYALWVNMCAMAMEFLNHINWIMANHTXNCCTNJWYLANVWVARSCKSNYMIMAUTHIPAORTNCTAZORDEMACTARSDCTCTMAMSMTAKDEOHMNCAOHNVSCWVNMWYCAKSWYOKUTMAUTMNNEOHKYWANYINCODCAKSCKSUTILDCDCOKKYNEALHISCGAKSPAUTORNDKYMNOHTXWYGATXWVNMMINCNYTXKYSDIDORWIWVSCCTNVNDMIMTNEUTWVARMTUTHIKSNYOHHIKSINORNYVAMIIDMOALORVTAZVAPACOKYNJILWAWVRIOHMOMDOHVAFLCONYWVLAMAUTALMETXNDCOLAMTORNHNEWVNVMAMIKYWVKYNJMETXMNVADCMDRIMAMDNMMNMIAZALMISCMSMSCAMDNDILSDALNVLAVADECTCOMAORWASCINMDNVTXNDWVCOTXFLALWVMINYMSMOARMSNYSDAKWVSCVAMSSDMNALCOMEGAAZMAAZINDEWIMEDCGAHIVANYPAARHIDEWVOKORNDMOARGATNMANDIANJMTALNYPAVTNCCTMOWVNJAKLAALINMADESCNHLAMSNMWASCMTMENMAZCTILINARRINDNHNVUTNCMIWIARNHTXIDCTNHWYORSCMDNYNMLAUTALDEWVKYNCWVAZWVNDWAIDCTOKIANEIDORSDDEWACTMNWAPAIDMSWADCKYOHTNIDWVWIOKWVSDKSNCNYWISCUTNCINARMENYORILMACTWIOKDEAZAKMIWASDSDAKMAARKSORNCOKNJOHNMOHMIKSILRIARNYWYNCORVTSDDCRIIDOKMNWAWVNHWIMDININNYOROKWINJARUTDCAKAZKSOHKSSCTNCAMIINRIMOTNCTMEMDNCSCCALAWIILINALOKIAVTNYLASCIDMOMEMSSDOKWYGAVTMDINWVOHOHSCAZWVRICTTN'

#### 2.3 Reset the group by index <span style= color:#0033cc>(3 points)</span>

In [32]:
pip install numpy

Requirement already satisfied: numpy in c:\python310\lib\site-packages (1.26.4)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
grouped_data = df.groupby(level=0)
grouped_data

In [33]:
import numpy as np

#### 2.4 Use head function to review the first 10 telecom_agg rows <span style= color:#0033cc>(3 points)</span>

In [40]:
data_agg.head(10)

State                    KSOHNJOHOKALMAMOLAWVINRIIAMTIANYIDVTVATXFLCOAZ...
Account length                                                      336849
Area code                                                          1457129
International plan       NoNoNoYesYesYesNoYesNoYesNoNoNoNoNoNoNoNoNoNoN...
Voice mail plan          YesYesNoNoNoNoYesNoNoYesNoNoNoNoNoNoYesNoYesNo...
Number vmail messages                                                26994
Total day minutes                                                 599190.4
Total day calls                                                     334752
Total day charge                                                 101864.17
Total eve minutes                                                 669867.5
dtype: object

#### 3. Users Churn rate

#### 3.1 Change "Churn" column type to an integer: <span style= color:#0033cc>(3 points)</span>

In [43]:
df["churn"] = df["churn"].astype(int)
df

KeyError: 'churn'

In [46]:
df.replace({False: 0, True: 1})
df.head(15)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
5,AL,118,510,Yes,No,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,0
6,MA,121,510,No,Yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
7,MO,147,415,Yes,No,0,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,0
8,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,0
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
10,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,1
11,RI,74,415,No,No,0,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0,0
12,IA,168,408,No,No,0,128.8,96,21.90,104.9,71,8.92,141.1,128,6.35,11.2,2,3.02,1,0
13,MT,95,510,No,No,0,156.6,88,26.62,247.6,75,21.05,192.3,115,8.65,12.3,5,3.32,3,0
14,IA,62,415,No,No,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4,0

#### 3.2 what is the users "churn rate" in our dataframe? <span style= color:#0033cc>(5 points)</span>
Hint: the churn rate formula can be calculated as the "number of churned" divided by the "total number of customers".

In [49]:
d=df['churn'].agg('sum')/df['Customer service calls'].agg

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1262292.py, line 1)

#### 3.3  How the charn rate can affect on the company? <span style= color:#0033cc>(3 points)</span>

#### 3.4 How much time (on average) do churned users spend on the phone during daytime? <span style= color:#0033cc>(5 points)</span>
Hint: filter churn column when the value of churn equal to 1

#### 3.5 What is the maximum length of international calls among loyal users who do not have an international plan? ('International plan' == 'No') <span style= color:#0033cc>(5 points)</span>
Hint: 2 filters conditions,churn equal to 0 and international plan equal to no

#### 4. Select top 3 international plan subscribers and non subscribers with the most intl calls

#### 4.1. Build a function top which attributes df, n (for the top n) and column. In this function use sort_values to sort the values in the column specified. <span style= color:#0033cc>(10 points)</span>
Note: Do not apply the function on the whole data frame (e.i. top(df, n=3)) as the output will be the top 3 regardless of subscribers and non-subscribers.

#### 4.2. Group the df dataframe by 'International plan' and use apply(top) to apply this function. <span style= color:#0033cc>(5 points)</span>

#### 5. pd.crosstab

#### 5.1 how the observations in our sample are normalized (divide each value by the sum of the values) in the context of two variables - Churn and Voice mail plan. To do so, build a contingency table using the crosstab method. <span style= color:#0033cc>(6 points)</span>
Hint: To normalize using all values, simply set normalize=True

#### 5.2 What is the conclustion of most of users regarding voice mail usage? <span style= color:#0033cc>(4 points)</span>

#### 6. Columns calculations

#### 6.1 Add a column name 'total_charge', and get the total charge by sum all the charge columns <span style= color:#0033cc>(7 points)</span>

####  6.2 Add a column name 'Day_charge_pct', and get day charge precentage of total charge by dividing the column 'Total day charge' by the column 'total_charge'. <span style= color:#0033cc>(7 points)</span>

#### 7. Day charge percentage and state visualization

#### 7.1 Import matplotlib.pyplot and referred the package as plt <span style= color:#0033cc>(2 points)</span>

#### 7.2 create new string list with the name 'my_color' that contains the following colors names: red,green,orange,blue,yellow <span style= color:#0033cc>(4 points)</span>

#### 7.3 Bar chart plot <span style= color:#0033cc>(10 points)</span>

1.Select first 5 rows of the dataframe (use df.iloc[])

2.Use <span style= color:blue>df.plot</span> function with kind='bar' and x='State' and y='Day_charge_pct' and color = my_colors to make a simple bar chart plot (of the day chart %).

3.Use <span style= color:blue>plt.xlabel("State Code")</span> and <span style= color:blue>plt.ylabel("Day Charge %")</span> to label the corresponding axes